/* Global variables //
// ================ */

:root {
	/* grayness */
	--ultra-dark-grayness:  calc(1 * 17 / 255);         /* 0x11 */
	--super-dark-grayness:  calc(2 * 17 / 255);         /* 0x22 */
	--very-dark-grayness:   calc(3 * 17 / 255);         /* 0x33 */
	--dark-grayness:        calc(4 * 17 / 255);         /* 0x44 */
	--light-grayness:       calc((255 - 4 * 17) / 255); /* 0xbb */
	--very-light-grayness:  calc((255 - 3 * 17) / 255); /* 0xcc */
	--super-light-grayness: calc((255 - 2 * 17) / 255); /* 0xdd */
	--ultra-light-grayness: calc((255 - 1 * 17) / 255); /* 0xee */

	/* colors! */
	--luci-pink:        #ffeaf2;
	--half-luci-pink:   color-mix(in srgb, var(--luci-pink), white);
	--ultra-dark-gray:  hsl(0 0 calc(100 * var(--ultra-dark-grayness)));
	--super-dark-gray:  hsl(0 0 calc(100 * var(--super-dark-grayness)));
	--very-dark-gray:   hsl(0 0 calc(100 * var(--very-dark-grayness)));
	--dark-gray:        hsl(0 0 calc(100 * var(--dark-grayness)));
	--light-gray:       hsl(0 0 calc(100 * var(--light-grayness)));
	--very-light-gray:  hsl(0 0 calc(100 * var(--very-light-grayness)));
	--super-light-gray: hsl(0 0 calc(100 * var(--super-light-grayness)));
	--ultra-light-gray: hsl(0 0 calc(100 * var(--ultra-light-grayness)));
	--shadow-light:     rgb(from black r g b / 20%);
	--shadow-dark:      rgb(from white r g b / 20%);

	/* color pairs -- positive */
	--polar-positive:       light-dark(white, black);
	--positive:             light-dark(var(--light-gray), var(--dark-gray));
	--super-positive:       light-dark(var(--super-light-gray), var(--super-dark-gray));
	--ultra-positive:       light-dark(var(--ultra-light-gray), var(--ultra-dark-gray));
	--bright-positive:      light-dark(var(--super-light-gray), var(--dark-gray));
	--very-bright-positive: light-dark(white, var(--dark-gray));
	--page-positive:        light-dark(var(--luci-pink), black);
	--nav-positive:         light-dark(var(--half-luci-pink), var(--super-dark-gray));
	--box-positive:         light-dark(var(--half-luci-pink), var(--ultra-dark-gray));
	--footer-positive:      light-dark(var(--half-luci-pink), color-mix(in srgb, var(--ultra-dark-gray), black));

	/* color pairs -- negative */
	--polar-negative:       light-dark(black, white);
	--negative:             light-dark(var(--dark-gray), var(--light-gray));
	--super-negative:       light-dark(var(--super-dark-gray), var(--super-light-gray));
	--ultra-negative:       light-dark(var(--ultra-dark-gray), var(--ultra-light-gray));
	--bright-negative:      light-dark(var(--dark-gray), var(--super-light-gray));
	--very-bright-negative: light-dark(var(--dark-gray), white);
	--shadow-negative:      light-dark(var(--shadow-light), var(--shadow-dark));
	--figure-negative:      light-dark(var(--ultra-dark-gray), var(--dark-gray));

	/* measurements */
	--main-padding-top: 24px;
	--main-padding-bottom: 8px;
	--padding-vertical: 8px;
	--padding-horizontal: 16px;
	--h1-padding-vertical: 64px;
	--summary-margin-bottom: 12px;
	--box-padding-horizontal: 16px;
	--box-h1-padding-vertical: 24px;
	--box-p-margin-bottom: 24px;
	--wide-width: 1024px;
	--very-wide-width: 1536px;
	--narrow-width: 720px;
	--narrow-margin-bottom: 8px;
	--narrow-padding-bottom: 16px;
	--narrow-p-margin-bottom: 22px;
	--pixel-figure-padding-bottom: 24px;
	--square-image-padding-vertical: 32px;
	--nav-padding-vertical: 16px;
	--nav-padding-horizontal: 16px;
	--nav-padding-title-vertical: 12px;
	--nav-padding-title-horizontal: 16px;
	--nav-height: 56px;
	--footer-height: 24px;
	--footer-padding-horizontal: 12px;

	/* dynamic font sizes: [at 1920px]-[at 640px] */
	--16px-12px: calc(10px + 0.3125vw);
	--18px-16px: calc(15px + 0.15625vw);
	--20px-16px: calc(14px + 0.3125vw);
	--24px-16px: calc(12px + 0.625vw);
	--28px-22px: calc(19px + 0.46875vw);
	--32px-24px: calc(20px + 0.625vw);
	--36px-28px: calc(24px + 0.625vw);
	--48px-40px: calc(36px + 0.625vw);

	/* javascript variables; fallback values */
	--body-background-light: none;
	--body-background-dark: none;
	--nav-height-mobile-open: 50vh;
	--transition-length: 200ms;
}

@media (prefers-reduced-motion: reduce) {
	:root {
		--transition-length: 0;
	}
}



/* CSS Reset //
// ========= */

/*
	https://meyerweb.com/eric/thoughts/2007/05/01/reset-reloaded/
	https://meyerweb.com/eric/tools/css/reset/
	https://www.joshwcomeau.com/css/custom-css-reset/
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	border: 0;
	font: inherit;
	font-size: 100%;
	margin: 0;
	outline: 0;
	padding: 0;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

img, picture, video, canvas, svg {
	display: block;
	max-width: 100%;
}

input, button, textarea, select {
	font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
	overflow-wrap: break-word;
}

p {
	text-wrap: pretty;
}

h1, h2, h3, h4, h5, h6 {
	text-wrap: balance;
}

:focus {
	outline: 0;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

table {
	border-collapse: separate;
	border-spacing: 0;
}

caption, th, td {
	font-weight: normal;
	text-align: left;
}

blockquote:before, blockquote:after, q:before, q:after {
	content: "";
	content: none;
}

blockquote, q {
	quotes: "" "";
}



/* Basic styles //
// ============ */

:root {
	font-family: "Livvic", Verdana, sans-serif;
	outline-color: var(--super-negative);
}

* {
	margin: 0;
	padding: 0;
	transition:
	background-color var(--transition-length),
	background-image var(--transition-length),
	color var(--transition-length),
	fill var(--transition-length),
	r var(--transition-length),
	stroke-width var(--transition-length),
	text-shadow var(--transition-length);
}

html {
	color-scheme: light dark;
	height: 100%;
	scroll-behavior: smooth;
}

body {
	background-attachment: fixed;
	background-color: var(--page-positive);
	background-image: var(--body-background-light);
	background-position-x: center;
	background-position-y: top;
	background-repeat: repeat;
	background-size: 1024px 1024px;
	color: var(--ultra-negative);
	font-optical-sizing: auto;
	font-style: normal;
	font-weight: 350;
	height: 100%;
	/* for the background tiles to not appear pixelly */
	image-rendering: smooth;
}

.dark-mode body {
	/* stars! */
	background-image: var(--body-background-dark);
	background-size: 512px 1024px;
	image-rendering: pixelated;
}

@media (max-width: 640px) {
	.dark-mode body {
		/* to see more stars */
		background-position-y: center;
	}
}

@media (min-width: 2048px) and (min-height: 1536px) {
	body {
		background-size: 2048px 2048px;
	}
	
	.dark-mode body {
		background-size: 1024px 2048px;
	}
}

main {
	background-image: linear-gradient(
		to right,
		/* using luci pink transparent instead of (black) transparent */
		/* in case some browsers render the gradient wrong */
		rgb(from var(--page-positive) r g b / 0%),
		rgb(from var(--page-positive) r g b / 70%) 10% 90%,
		rgb(from var(--page-positive) r g b / 0%)
	);
	min-height: calc(
		100vh -
		var(--nav-height) -
		var(--footer-height) -
		var(--main-padding-top) -
		var(--main-padding-bottom)
	);
	padding-top: var(--main-padding-top);
	padding-bottom: var(--main-padding-bottom);
	position: relative;
}

@media (max-width: 640px) {
	.nav-open main {
		min-height: calc(
			100vh -
			var(--nav-height-mobile-open) -
			var(--footer-height) -
			var(--main-padding-top) -
			var(--main-padding-bottom)
		);
	}
}

.dark-mode main {
	/* specified separately rather than through light-dark */
	/* in case I want to change the gradient stop positions */
	/* check it out: I did! */
	/* there still is a light-dark fallback in case javascript is disabled though */
	background-image: linear-gradient(
		to right,
		rgb(from var(--page-positive) r g b / 50%) 0% 5%,
		var(--page-positive) 15% 85%,
		rgb(from var(--page-positive) r g b / 50%) 95% 100%
	);
}

@media (max-width: 640px) {
	.dark-mode main {
		background-image: linear-gradient(
			to bottom,
			var(--page-positive) 0% 60%,
			rgb(from var(--page-positive) r g b / 50%) 60% 100%
		);
	}
}

button, label, p, ul {
	font-weight: 350;
}

h1, h2 {
	text-align: center;
}

h1, h2, p, a {
	color: var(--super-negative);
}

h2, p {
	padding: var(--padding-vertical) var(--padding-horizontal);
}

h1 {
	font-size: var(--48px-40px);
	font-weight: 400;
	line-height: 48px;
	padding: var(--h1-padding-vertical) 0;
}

h2 {
	font-size: var(--32px-24px);
	font-weight: 450;
	line-height: var(--32px-24px);
}

p, ul, code {
	font-size: var(--18px-16px);
	line-height: var(--28px-22px);
}

p.small, ul.small, code.small {
	font-size: var(--16px-12px);
	line-height: var(--24px-16px);
}

p.small {
	color: var(--negative);
	font-style: italic;
}

a {
	text-decoration: underline;
}

a:hover {
	text-shadow: 0 0 1px var(--very-bright-negative);
}

strong, b {
	font-weight: 600;
	margin-left: 1px;
	margin-right: 1px;
}

em, i {
	font-style: italic;
}

code {
	background-color: light-dark(
		rgb(from var(--light-gray) r g b / 50%),
		rgb(from var(--dark-gray)  r g b / 50%)
	);
	border: 1px solid light-dark(
		rgb(from var(--dark-gray)  r g b / 25%),
		rgb(from var(--light-gray) r g b / 25%)
	);
	border-radius: 4px;
	color: var(--super-negative);
	font-family: "Reddit Mono", "Courier New", Courier, monospace;
	font-weight: 400;
	margin-left: 2px;
	margin-right: 2px;
	padding: 2px;
}

summary {
	font-weight: 600;
	margin-bottom: var(--summary-margin-bottom);
	text-align: center;
}

summary:hover {
	text-decoration: underline;
}

iframe {
	border: none;
	display: block;
}



/* Common classes //
// ============== */

:focus {
	outline: 2px dashed var(--super-negative);
}

:target {
	/* looks weird, but it makes the outline fade out after 1.5s! */
	outline: 2px dashed transparent;
	transition-delay: 1.5s;
	transition-duration: 0.5s;
	transition-property: outline-color;
}

main:target {
	outline-width: 0;
}

::selection {
	/* not all browsers support this, but that's okay! */
	background-color: var(--super-negative);
	color: var(--super-positive);
}

.negative-text::selection {
	background-color: var(--super-positive);
	color: var(--super-negative);
}

.visua11y-hidden {
	clip: rect(0 0 0 0); 
	clip-path: inset(50%);
	overflow: hidden;
	position: absolute;
	white-space: nowrap; 
	width: 1px;
	height: 1px;
}

.box {
	/* color-mix instead of half-opaque color to hide stars behind it */
	background-color: var(--box-positive);
	background-image: linear-gradient(
		to bottom,
		transparent,
		light-dark(
			rgb(from white r g b / 75%),
			transparent
		)
	);
	border-radius: 16px;
	box-shadow: 0 0 4px var(--polar-positive);
	padding-left: var(--box-padding-horizontal);
	padding-right: var(--box-padding-horizontal);
}

.box.inline {
	display: inline-block;
	margin-left: auto;
	margin-right: auto;
}

.box h1 {
	padding-top: var(--box-h1-padding-vertical);
	padding-bottom: var(--box-h1-padding-vertical);
}

.box p, .box ul {
	margin-bottom: var(--box-p-margin-bottom);
	padding: 0 10%;
}

.wide, .very-wide {
	margin-left: auto;
	margin-right: auto;
}

.wide {
	width: var(--wide-width);
}

.very-wide {
	width: var(--very-wide-width);
}

@media (min-width: 2048px) and (min-height: 1536px) {
	.very-wide {
		margin-left: 20%;
		margin-right: 20%;
		width: calc(60% - 2 * var(--box-padding-horizontal));
	}
}

@media (max-width: 1600px) {
	.very-wide {
		margin-left: 5%;
		margin-right: 5%;
		width: calc(90% - 2 * var(--box-padding-horizontal));
	}
}

@media (max-width: 1152px) {
	.wide {
		margin-left: 10%;
		margin-right: 10%;
		width: auto;
	}
}

@media (max-width: 640px) {
	.wide, .very-wide {
		margin-left: 0;
		margin-right: 0;
		padding-left: 0;
		padding-right: 0;
		width: 100%;
	}
}

.narrow {
	margin-bottom: var(--narrow-margin-bottom);
	margin-left: auto;
	margin-right: auto;
	padding-bottom: var(--narrow-padding-bottom);
	width: 90%;
	max-width: var(--narrow-width);
}

@media (min-width: 800px) {
	.narrow {
		width: var(--narrow-width);
	}
}

.narrow h1 {
	margin-bottom: 8px;
}

.narrow h2 {
	font-size: 20px;
	font-weight: 700;
}

.narrow p, .narrow li {
	font-size: 16px;
	line-height: 22px;
}

.narrow .small {
	font-size: 14px;
}

.narrow p, .narrow ul {
	margin-bottom: var(--narrow-p-margin-bottom);
}

.narrow ul {
	padding-left: 4%;
	padding-right: 0;
}

.vertically-centered {
	align-items: center;
	display: flex;
	justify-content: center;
}

.scroll-shadows {
	/* https://css-tricks.com/books/greatest-css-tricks/scroll-shadows/ */
	background:
		linear-gradient(
			var(--box-positive) 30%,
			transparent
		) center top,
		linear-gradient(
			transparent,
			var(--box-positive) 70%
		) center bottom,
		radial-gradient(
			farthest-side at 50% 0,
			var(--shadow-negative),
			transparent
		) center top,
		radial-gradient(
			farthest-side at 50% 100%,
			var(--shadow-negative),
			transparent
		) center bottom;
	background-attachment: local, local, scroll, scroll;
	background-repeat: no-repeat;
	background-size: 100% 40px, 100% 40px, 100% 14px, 100% 14px;
}

.pixel-figure {
	margin: 0 0;
	padding-bottom: var(--pixel-figure-padding-bottom);
	width: 100%;
}

.pixel-image {
	display: block;
	image-rendering: pixelated;
	margin: 0 auto;
	transform-origin: top;
}

@media (min-width: 640px) {
	.pixel-image {
		transform: scale(2);
	}
}

@media (min-width: 2048px) and (min-height: 1536px) {
	.pixel-image {
		transform: scale(4);
	}
}

.square-image-container {
	padding-top: var(--square-image-padding-vertical);
	padding-bottom: var(--square-image-padding-vertical);
}

.center {
	text-align: center;
}

.justify {
	text-align: justify;
}

@media (min-width: 2048px) and (min-height: 1536px) {
	.small {
		font-size: 32px;
		line-height: 48px;
	}
}

.links {
	display: block;
	font-size: 0;
	list-style-type: none;
}

.links.inline {
	display: inline;
}

.links li {
	display: inline;
	font-size: initial;
}

.links li:not(:first-child)::before {
	content: "–";
	margin-left: 3px;
	margin-right: 3px;
}

.zo-a11y {
	/* fix bad kerning in the word "a11y" */
	letter-spacing: -1px;
}



/* Bubbles //
// ======= */

#bubble-space {
	overflow: hidden;
	pointer-events: none;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}

.bubble {
	pointer-events: auto;
	position: absolute;
	transform-origin: center;
}

.bubble.popped {
	pointer-events: none;
}

@media (max-width: 1600px) {
	.bubble {
		display: none;
	}
}

.bubble circle {
	cx: 50%;
	cy: 50%;
	fill: transparent;
	r: 20%;
	stroke: light-dark(
		rgb(from white r g b / 75%),
		transparent
	);
	stroke-width: 40%;
}

.bubble:hover circle {
	r: 25%;
	stroke-width: 50%;
}

.bubble.popped circle {
	r: 50%;
	stroke-width: 0;
}



/* Navigation bar //
// ============== */

#skip-to-main {
	background-color: var(--super-negative);
	border-radius: 12px;
	color: var(--super-positive);
	font-size: 16px;
	margin-top: 8px;
	margin-left: 8px;
	overflow: hidden;
	padding: 8px 8px;
	position: absolute;
	left: 0;
	top: var(--nav-height);
	z-index: 1;
}

body[data-luci-page="home"] #skip-to-main {
	top: 0;
}

#skip-to-main:not(:focus) {
	/* .visua11y-hidden */
	clip: rect(0 0 0 0); 
	clip-path: inset(50%);
	white-space: nowrap; 
	width: 1px;
	height: 1px;
}

#header-i {
	width: 100%;
	height: var(--nav-height);
}

@media (max-width: 640px) {
	.nav-open #header-i {
		height: var(--nav-height-mobile-open);
	}
}

#the-header {
	background-color: transparent;
	background-image: none;
}

nav {
	background-color: var(--nav-positive);
	font-size: 0;
	overflow: hidden;
	text-align: center;
	width: 100%;
}

#topnav-title {
	display: block;
	float: left;
	font-weight: 100;
	font-size: 24px;
	height: calc(var(--nav-height) - 2 * var(--nav-padding-title-vertical));
	line-height: 30px;
	padding: var(--nav-padding-title-vertical) var(--nav-padding-title-horizontal);
	position: absolute;
	left: 0;
	top: 0;
}

html[data-luci-page="home"] #topnav-title {
	display: none;
}

@media (max-width: 1280px) {
	#topnav-title {
		display: none;
	}
}

nav menu {
	display: block;
	height: 100%;
	list-style-type: none;
	text-align: center;
}

nav li {
	float: left;
}

nav a, nav button {
	background: none;
	border: none;
	color: var(--bright-negative);
	display: block;
	font-size: 16px;
	font-weight: 400;
	line-height: 20px;
	padding: var(--nav-padding-vertical) var(--nav-padding-horizontal);
	text-align: center;
	text-decoration: none;
}

nav a {
	/* the <a>'s have padding, but the buttons don't? */
	height: calc(var(--nav-height) - 2 * var(--nav-padding-vertical));
}

nav button {
	height: var(--nav-height);
}

nav img {
	filter: brightness(var(--dark-grayness));
}

.dark-mode nav img {
	filter: brightness(var(--super-light-grayness));
}

nav a:hover, nav button:hover {
	background-color: var(--bright-positive);
	color: var(--very-bright-negative);
	text-shadow: none;
}

nav a:hover {
	text-decoration: underline;
}

nav a.active {
	background-color: var(--super-negative);
	color: var(--super-positive);
}

@media (max-width: 640px) {
	.nav-open nav {
		position: relative;
	}

	.nav-open[data-luci-page="home"] nav button {
		/* if home is active, then the background of the home button obscures some toggles */
		color: var(--super-positive);
	}

	.nav-open[data-luci-page="home"] nav button:hover {
		color: var(--very-bright-negative);
	}

	.nav-open[data-luci-page="home"] nav img {
		/* trick to manipulate the color of an embedded svg */
		filter: brightness(var(--super-light-grayness));
	}

	.dark-mode.nav-open[data-luci-page="home"] nav img {
		filter: brightness(var(--super-dark-grayness));
	}

	.nav-open[data-luci-page="home"] nav button:hover img {
		filter: brightness(var(--dark-grayness));
	}

	.dark-mode.nav-open[data-luci-page="home"] nav button:hover img {
		filter: brightness(1);
	}

	.nav-open #topnav-links li {
		float: none;
	}

	.nav-open #topnav-links a {
		display: block;
		text-align: left;
	}

	html:not(.nav-open) #topnav-links a:not(.home) {
		/* hide all links except for the first one */
		/* replace them with vertical dropdown list from menu button */
		/* .visua11y-hidden */
		clip: rect(0 0 0 0); 
		clip-path: inset(50%);
		overflow: hidden;
		position: absolute;
		white-space: nowrap; 
		width: 1px;
		height: 1px;
	}
}

@media (min-width: 1281px) {
	#topnav-links {
		/* when *not* on mobile (+ extra space), center the navigation bar */
		position: absolute;
		top: 0;
		left: 50vw;
		transform: translate(-50%, 0);
	}
}

#topnav-settings {
	display: block;
	float: right;
	height: var(--nav-height);
}

@media (max-width: 640px) {
	#topnav-settings {
		position: absolute;
		top: 0;
		right: 0;
	}
}

#animation-button {
	display: none;
}

#bubble-button {
	display: none;
}

@media (min-width: 801px) {
	.dark-mode #animation-button {
		/* show animation pause button only in dark mode */
		/* because light mode never displays animations */
		/* and only non-mobile otherwise there's not enough space */
		/* (bubbles are the biggest concern, and they're not visible in mobile anyway) */
		display: block;
	}
}


@media (min-width: 1537px) {
	html:not(.dark-mode) #bubble-button {
		/* similarly, show bubble button only in light mode and wide screens */
		display: block;
	}
}

#topnav-bar-button {
	display: none;
}

@media (max-width: 640px) {
	#topnav-bar-button {
		display: block;
		float: right;
	}
}



/* Footer //
// ====== */

footer {
	height: var(--footer-height);
}

#footer-settings {
	display: block;
	float: right;
	height: var(--footer-height);
}

#footer-i {
	width: 100%;
	height: var(--footer-height);
}

#the-footer {
	/* color-mix instead of half-opaque color */
	/* so that it doesn't clash with gradient and bg image */
	background-color: var(--footer-positive);
	background-image: none;
	color: var(--super-negative);
	font-size: 16px;
	text-align: center;
}

@media (max-width: 640px) {
	#the-footer {
		font-size: 14px;
		padding-left: var(--footer-padding-horizontal);
		text-align: left;
	}
}

#footer-links {
	line-height: 22px;
	list-style-type: none;
}

@media (min-width: 641px) {
	#footer-links {
		position: absolute;
		left: 50vw;
		transform: translate(-50%, 0);
	}
}

#footer-links li {
	float: left;
}

@media (min-width: 641px) {
	#meta-link-mobile {
		display: none;
	}
}

@media (max-width: 640px) {
	#meta-link-nonmobile {
		display: none;
	}
}

#footer-settings {
	display: block;
	height: 100%;
	list-style-type: none;
	text-align: center;
}

#footer-settings li {
	float: left;
}

#footer-settings button {
	background: none;
	border: none;
	color: var(--bright-negative);
	display: block;
	font-size: 16px;
	height: var(--footer-height);
	padding: 0 var(--footer-padding-horizontal);
	text-align: center;
	text-decoration: none;
}

#footer-settings button:hover {
	background-color: var(--bright-positive);
	color: var(--very-bright-negative);
	text-decoration: underline;
	text-shadow: none;
}

@media (max-width: 640px) {
	#footer-settings button {
		font-size: 14px;
	}
}



/* Font face declarations //
// ====================== */

@font-face {
	font-family: "Livvic";
	src: url("../fonts/Livvic/100.ttf") format("truetype");
	font-style: normal;
	font-weight: 200;
}

@font-face {
	font-family: "Livvic";
	src: url("../fonts/Livvic/100i.ttf") format("truetype");
	font-style: italic;
	font-weight: 200;
}

@font-face {
	font-family: "Livvic";
	src: url("../fonts/Livvic/200.ttf") format("truetype");
	font-style: normal;
	font-weight: 200;
}

@font-face {
	font-family: "Livvic";
	src: url("../fonts/Livvic/200i.ttf") format("truetype");
	font-style: italic;
	font-weight: 200;
}

@font-face {
	font-family: "Livvic";
	src: url("../fonts/Livvic/300.ttf") format("truetype");
	font-style: normal;
	font-weight: 300;
}

@font-face {
	font-family: "Livvic";
	src: url("../fonts/Livvic/300i.ttf") format("truetype");
	font-style: italic;
	font-weight: 300;
}

@font-face {
	font-family: "Livvic";
	src: url("../fonts/Livvic/400.ttf") format("truetype");
	font-style: normal;
	font-weight: 400;
}

@font-face {
	font-family: "Livvic";
	src: url("../fonts/Livvic/400i.ttf") format("truetype");
	font-style: italic;
	font-weight: 400;
}

@font-face {
	font-family: "Livvic";
	src: url("../fonts/Livvic/500.ttf") format("truetype");
	font-style: normal;
	font-weight: 500;
}

@font-face {
	font-family: "Livvic";
	src: url("../fonts/Livvic/500i.ttf") format("truetype");
	font-style: italic;
	font-weight: 500;
}

@font-face {
	font-family: "Livvic";
	src: url("../fonts/Livvic/600.ttf") format("truetype");
	font-style: normal;
	font-weight: 600;
}

@font-face {
	font-family: "Livvic";
	src: url("../fonts/Livvic/600i.ttf") format("truetype");
	font-style: italic;
	font-weight: 600;
}

@font-face {
	font-family: "Livvic";
	src: url("../fonts/Livvic/700.ttf") format("truetype");
	font-style: normal;
	font-weight: 700;
}

@font-face {
	font-family: "Livvic";
	src: url("../fonts/Livvic/700i.ttf") format("truetype");
	font-style: italic;
	font-weight: 700;
}

@font-face {
	font-family: "Livvic";
	src: url("../fonts/Livvic/900.ttf") format("truetype");
	font-style: normal;
	font-weight: 900;
}

@font-face {
	font-family: "Livvic";
	src: url("../fonts/Livvic/900i.ttf") format("truetype");
	font-style: italic;
	font-weight: 900;
}

@font-face {
	font-family: "Reddit Mono";
	src: url("../fonts/Reddit Mono/200.ttf") format("truetype");
	font-style: normal;
	font-weight: 200;
}

@font-face {
	font-family: "Reddit Mono";
	src: url("../fonts/Reddit Mono/300.ttf") format("truetype");
	font-style: normal;
	font-weight: 300;
}

@font-face {
	font-family: "Reddit Mono";
	src: url("../fonts/Reddit Mono/400.ttf") format("truetype");
	font-style: normal;
	font-weight: 400;
}

@font-face {
	font-family: "Reddit Mono";
	src: url("../fonts/Reddit Mono/500.ttf") format("truetype");
	font-style: normal;
	font-weight: 500;
}

@font-face {
	font-family: "Reddit Mono";
	src: url("../fonts/Reddit Mono/600.ttf") format("truetype");
	font-style: normal;
	font-weight: 600;
}

@font-face {
	font-family: "Reddit Mono";
	src: url("../fonts/Reddit Mono/700.ttf") format("truetype");
	font-style: normal;
	font-weight: 700;
}

@font-face {
	font-family: "Reddit Mono";
	src: url("../fonts/Reddit Mono/800.ttf") format("truetype");
	font-style: normal;
	font-weight: 800;
}

@font-face {
	font-family: "Reddit Mono";
	src: url("../fonts/Reddit Mono/900.ttf") format("truetype");
	font-style: normal;
	font-weight: 900;
}

@font-face {
	font-family: "New Computer Modern";
	src: url("../fonts/New Computer Modern/math.woff2") format("woff2");
	font-style: normal;
}
